<ion-view>
    <ion-nav-bar class="bar-dark">
        <ion-nav-title>Agency</ion-nav-title>
        <ion-nav-buttons>
            <div class="buttons">
                <button class="button button-icon button-clear ion-drag" menu-toggle="left">
            </button>
            </div>
            <div class="item-button-right">
                <a href="#/app/main" class="button icon button-icon button-home">Home</a>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="section-content fagan">
        <!--<img class="section-main" src="images/content/blank.png"/>-->
        <div class="section-detail" ng-bind-html="sections.agency"></div>
    </ion-content>

</ion-view>
