<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-buttons>
            <div class="buttons">
                <a href="#/app/main" class="button icon button-icon ion-ios7-arrow-back"></a>
            </div>
            <div class="item-button-right">
                <button class="button button-icon ion-ios7-keypad-outline button-more" ng-click="popover.show($event)"></button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-pane class="contact">
        <ion-list class="contact-list">
            <ion-item class="item-icon-right" href="tel:0035318999350">
                <h4>Call</h4>
                <p>direct number to our offices</p>
                <i class="icon ion-ios7-telephone-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="mailto:info@pfai.ie">
                <h4>Mail</h4>
                <p>send an email</p>
                <i class="icon ion-ios7-email-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('https://www.facebook.com/pages/PFAIOfficial/137333183069003')">
                <h4>Facebook</h4>
                <p>keep in touch</p>
                <i class="icon ion-social-facebook-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('https://twitter.com/PFAIOfficial')">
                <h4>Twitter</h4>
                <p>follow us on twitter</p>
                <i class="icon ion-social-twitter-outline contact-item"></i>
            </ion-item>
        </ion-list>

    </ion-pane>
    
</ion-view>
