<ion-view>
    
    <ion-nav-bar class="bar-light">
        <ion-nav-title>PFA Ireland Mobile</ion-nav-title>
        <ion-nav-buttons>
            <div class="buttons"><button class="button button-icon ion-drag" menu-toggle="left">
            </button></div>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-pane class="main">
        <ion-list class="contact-list">
            <ion-item class="item-icon-right" href="#/app/contact">
                <h4>Get in touch</h4>
                <p>call, mail and social media details</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
        </ion-list>
    </ion-pane>
    
</ion-view>
