<ion-view class="resources">
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-left">
        </ion-nav-back-button>
        <ion-nav-title>Resource List</ion-nav-title>
    </ion-nav-bar>

    <ion-content >
        <ion-list class="resource-list">
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.pfai.ie')">
                <h4>PFA Ireland</h4>
                <p>www.pfai.ie</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.fai.ie/coaching')">
                <h4>FAI Coaching</h4>
                <p>www.fai.ie/coaching</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.eirpharm.com/sports')">
                <h4>Eirpharm</h4>
                <p>www.eirpharm.com/sports</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.globaldro.com')">
                <h4>Globaldro</h4>
                <p>www.globaldro.com</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.wada-ama.org')">
                <h4>Wada</h4>
                <p>www.wada-ama.org</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.irishsportscouncil.ie')">
                <h4>Irish Sports Council</h4>
                <p>www.irishsportscouncil.ie</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#" ng-click="openURL('http://www.menshealth.ie/')">
                <h4>Mens Health</h4>
                <p>www.menshealth.ie/</p>
                <i class="icon ion-ios7-more-outline contact-item"></i>
            </ion-item>
            
        </ion-list>
        
    </ion-content>

</ion-view>
